*, *::before, *::after {
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.contact-info{
    margin-top: -4px;
    padding: 1.5em;
    background-color: #313438;
    border-radius: 8px;
}
.friend{
    background-color: #75A85E;
}
.info-line{
    display: flex;
    color: #fff;
    width: 90%;
    padding: 1em 2em;
    margin-top: 2em;
    border-radius: 20px;
    box-shadow: inset 6px 6px 12px #2d2f33,
    inset -6px -6px 12px #35393d;
}
p{
    margin: 0;
    padding-left: 2em;
}
.notFound{
    padding-top: 5em;
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.icon-gradient{
    background: linear-gradient(90deg, rgba(111,177,127,1) 0%, rgba(154,173,89,1) 100%);
    border-radius: 100px;
    font-size: 1em;
    padding: .3em;
}
.location{
    padding: .5em .6em;
}
.type{
    border: none;
    background: none;
    padding-left: 2em;
    font-size: 1.2em;
    color: #fff;
    outline: none;
}
.button-container{
    background-color: #313438;
    padding: 2em 3.5em;
    color: #fff;
}
.update-contact{
    display: flex;
    color: #fff;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    padding: 1em 2em;
    border-radius: 20px;
    box-shadow:  6px 6px 12px #2d2f33,
    -6px -6px 12px #35393d;
}
.button{
    background:none ;
    border:none;
    color: #fff;
    font-size: 1.3em;
    padding-left: .6em;
    outline: none;
    cursor: pointer;
}