.pic {
    height: 75px;
    width: 75px;
    background-color: rgba(190, 133, 222, 0.85);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}

.person-info{
    font-size: .7em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-button {
    background: none;
    border: none;
    font-size: 1.3em;
    outline: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px 0 30px;
}

.info-button-container {
    display: flex;
}

.fa-phone {
    padding: 9px;
}
.fa-video {
    padding: 8px;
}
.text-icon {
    font-size: 26px;
    margin-top: 1px;
    font-weight: bold;
    font-style: normal;
}

.calling {
    display: flex;
    flex-direction: row;
    margin: 0;
    transition: 0.4s;
    border-radius: 30px;
    height: 90px;
}
.calling:hover{
    background-color: rgba(160, 162, 162, 0.49);
}

.mobile {
    margin: -20px 0 0 60px;
}

.calling h2 {
    margin-left: 15px;
}


hr{
    width:100%;
}

@media only screen and (min-width: 430px) {
    .pic {
        height: 100px;
        width: 100px;
        font-size: 50px;
    }
    .info-button {
        margin: 0 30px 0 80px;
    }
    .person-info{
        font-size: 1.3em;
    }
    .text-icon {
        font-size: 40px;
        margin: 0;
    }
    .mobile {
        margin: -22px 0 0 185px;
    }
    .calling h2 {
        margin-left: 30px;
    }
}